<div class="shell flex-column">
    <section id="Stats">
        <div class="header">
            <h3 class="color-dark bolder">Activities</h3>
            <p class="paragraph color-secondary">Here’s a summary of your progress</p>
        </div>
        <div class="wrapper">
            <div class="summary">
                 <div class="card flex-column gap-3">
                    <div class="flex gap-3 align-items-center">
                        <div class="action radius-1 bg-secondary">
                            👀
                        </div>
                        <div>
                            <p class="paragraph color-dark">All Habits</p>
                            <p class="subtext color-secondary">Summary</p>
                        </div>
                        <div class="action ms-auto">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                    <div class="flex gap-4">
                        <div class="item">
                            <p class="paragraph color-secondary uppercase">Success Rate</p>
                            <h4>90%</h4>
                        </div>
                        <div class="item">
                            <p class="paragraph color-secondary uppercase">Completed</p>
                            <h4>9</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-navbar></app-navbar>
</div>