<div class="shell flex-column">
    <section id="Routines">
        <div class="header flex align-items-center">
            <div>
                <h3 class="color-dark bolder">Challenges</h3>
                <p class="paragraph color-secondary">Here’s a list of your challenges</p>
            </div>
            <div class="action ms-auto">
                <i class="fa-solid fa-plus" (click)="openCreateChallengePopup()"></i>
            </div>
        </div>
        <div class="wrapper grow flex-column gap-3">
            <div class="habits grow overflow-x-hidden scrollable-y">
                <div class="mb-4">
                    <div class="flex-column gap-2">
                        <div class="pb-2 card flex-column gap-3" *ngFor="let challenge of challenges">
                            <div class="flex gap-3 align-items-center">
                                <div class="action radius-1 bg-secondary">
                                    🏅
                                </div>
                                <div>
                                    <p class="paragraph color-dark">{{challenge.name}}</p>
                                    <p class="subtext color-secondary">{{challenge.daysLeft}} Days To Go</p>
                                </div>
                            </div>
                            <app-progress-bar [challenge]="challenge"></app-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-navbar></app-navbar>
</div>