<div class="popup">
    <div class="content slide-up" SwipeToClose>
        <img class="top" src="/assets/images/top.png" alt="">
        <div class="ps-2 pe-2">
            <div class="heading bold color-secondary mb-2">Log Activity</div>
            <div class="card flex gap-3 align-items-center mb-4">
                <input type="text" class="grow h5 bold" placeholder="Enter Value" [(ngModel)]="customValue">
                <div class="action bg-active" (click)="onQuickActionClick(customValue)">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
        </div>
        <div class="quick-actions ps-2 flex gap-3">
            <div class="item bg-primary flex align-items-center gap-2" *ngFor="let item of quickActions" (click)="onQuickActionClick(item)">
                <div class="action">{{habit.icon}}</div>
                <h5 class="bold">{{ item }} {{unit}}</h5>
            </div>
        </div>
     </div>
</div>