<div class="popup">
    <div class="content slide-up" QuickCreate>
        <img class="top" src="/assets/images/top.png" alt="">
        <div class="ps-2 pe-2">
            <div class="heading bold color-secondary mb-2">New Good Habit</div>
            <div class="card flex gap-3 align-items-center mb-4" (click)="onShowCustomCreateClick()">
                <p class="paragraph color-dark">Create Custom Habit</p>
                <div class="action ms-auto">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="heading ps-2 pe-2 bold color-secondary mb-2">Popular Habits</div>
        <div class="suggestions ps-2 flex gap-3">
            <div class="item">
                <div class="action mb-2">🚶‍♀️</div>
                <h5 class="heading">Walk</h5>
                <div class="subtext">10 Km</div>
            </div>
            <div class="item">
                <div class="action mb-2">🏋️‍♂️</div>
                <h5 class="bold">Gym</h5>
                <div class="subtext">3 Times</div>
            </div>
            <div class="item">
                <div class="action mb-2">📚</div>
                <h5 class="bold">Read</h5>
                <div class="subtext">30 Minutes</div>
            </div>
            <div class="item">
                <div class="action mb-2">🧘‍♂️</div>
                <h5 class="bold">Meditate</h5>
                <div class="subtext">10 Minutes</div>
            </div>
        </div>
     </div>
</div>