<div class="shell">
    <section id="Onboarding" class="default-padding">
        <div class="circle-bg"></div>
        <div class="onboarding flex-column">
            <div class="illustration"></div>
            <div class="content flex-column justify-content-between grow">
                <div class="tagline">
                    <h2 class="font-noto color-primary mb-3">Create <br> Good Habits</h2>
                    <p class="paragraph color-primary">Change your life by slowly adding new healthy habits and sticking to them.</p>
                </div>
                <button class="btn flex align-items-center justify-content-center gap-1" (click)="onLoginWithGoogleClick()">
                    <img width="16px" src="/assets/images/google.png" alt="Google">
                    Login With Google
                </button>
                <p class="h6 color-primary mb-0">By continuing you agree Terms of Services & Privacy Policy</p>
            </div>
        </div>
    </section>
</div>